
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

p{
    font-family: 'Victor Mono', monospace;
    position: relative;
    font-size: 1.5em;
    padding-top: 5px;
    left: 2%;
}

html{
    min-height: 100%;
    overflow: hidden;
  }
body{
    height: calc(100vh - 8em);
    padding: 5em;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: rgb(25,25,25);  

}
.github{
    position: relative;
    float: right;
    height: 3vw;
    top: 64%;
    right: 2%;
}
.youtube{
    position: relative;
    float: right;
    height: 2.3vw;
    top: 66%;
    right: 4%;
}
.twitch{
    position: relative;
    float: right;
    height: 3vw;
    right: 6%;
    top: 65%;
}


.profilepic{
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    max-height: 95%;
    max-width: 95%;
    border-radius: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

}
.heart-shape:before{
    color: rgb(194, 194, 194);
    opacity: 30%;
      content: "\2764";
      font-size: 2.5vw;
      position: fixed;
    right: 0.3em;
    bottom: 0;
    transition: 0.3s;
    cursor: pointer;
}
.heart-shape:hover:before{
    color: rgb(255, 54, 54);
    opacity: 100%;}
.typewrite{
    position: relative;
    top: 15%;  
    margin: 0 auto;
    font-size: 2vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
}

.coolcard{
    position: relative;
    top: 20%;
    height: 20vw;
    width: 50vw;
    margin: 0 auto;
    border-radius: 1vw;
    box-shadow: 0 0 2px rgb(195, 195, 195);
    overflow: hidden;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
* { color:#fff; text-decoration: none;}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 540px) {
    .coolcard{
        height: 80vw;
        width: 70vw;
    }
    .profilepic{
        position: relative;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-57%);
        max-height: 80%;
        max-width: 80%;
        border-radius: 1vw;
    }   
    .typewrite{
        position: relative;
        top: 15%;  
        margin: 0 auto;
        font-size: 4vw;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);  
    }
    body{
            height: calc(100vh - 8em);
            padding: 0em;
            color: rgba(255,255,255,.75);
            font-family: 'Anonymous Pro', monospace;  
            background-color: rgb(25,25,25);  
        
    }
    .github{
        position: relative;
        display: block;
        float: left;
        height: 6vw;
        left: 33%;
        top: 13.5%;
        margin-left: auto;
        margin-right: auto;
    }
    .youtube{
        position: relative;
        float: left;
        display: block;
        height:6vw;
        left: 35%;
        top: 13.8%;
        margin-left: auto;
        margin-right: auto;
    }
    .twitch{
        position: relative;
        float: left;
        display: block;
        height: 6vw;
        right: 0%;
        left: 37%;
        top: 14%;
    }
    .heart-shape:before{
        color: rgb(194, 194, 194);
        opacity: 0%;
          content: "\2764";
          font-size: 0vw;
          position: fixed;
        right: 0.3em;
        bottom: 0;
        transition: 0.3s;
        cursor: pointer;
        display: none;
    }
}